.cartSummaryContainer {
  width: 380px;
  background: #ffffff;
  /* border-radius: 18px; */
  padding: 28px;
  /* box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08); */
  position: sticky;
  top: 95px;
  border: 1px solid #f1ece4;
}

/* Heading */

.summaryTitle {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #222;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* Shipping Progress */

.summaryTitle::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  margin-top: 8px;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    #1c1c1c 80%,
    #ece6dd 80%
  );
}

/* Rows */

.summaryRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  font-size: 15px;
  color: #444;
  border-bottom: 1px dashed #999;
}

.summaryRow:last-of-type {
  border-bottom: none;
}

.discountText {
  color: #2e7d32;
  font-weight: 600;
}

/* Coupon */

.couponContainer {
  margin: 22px 0;
}

.couponContainer span {
  display: block;
  margin-bottom: 10px;
  color: #777;
  font-size: 14px;
}

.couponInputGroup {
  display: flex;
  gap: 10px;
}

.couponInput {
  flex: 1;
  padding: 12px 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  outline: none;
  font-size: 14px;
}

.couponInput:focus {
  border-color: #b71c1c;
}

.couponBtn {
  padding: 12px 18px;
  border: none;
  border-radius: 8px;
  background:  #2e7d32;
  color: #fff;
  cursor: pointer;
  transition: .3s;
}

.couponBtn:hover {
  background: #1c4e1f;
}

/* Applied Coupon */

.activeCoupon {
  margin: 22px 0;
  background: #f7fff5;
  border: 1px solid #b8ddb3;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activeCoupon span {
  color: #2e7d32;
  font-weight: 600;
}

.removeCouponBtn {
  border: none;
  background: none;
  color: #b71c1c;
  cursor: pointer;
  font-weight: 600;
}

/* Total */

.total {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 2px dashed #999;
  border-bottom: none;
  font-size: 22px;
  font-weight: 700;
  color: #111;
}

/* Checkout Button */

.checkoutBtn {
  width: 100%;
  margin-top: 10px;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background: #27652f;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: .3s;
}

.checkoutBtn:hover {
  background: #104620;
  transform: translateY(-2px);
}

.checkoutBtn:disabled {
  background: #d4d4d4;
  cursor: not-allowed;
}

/* Mobile */

@media (max-width:900px) {
  .cartSummaryContainer {
    width: 100%;
    position: static;
    margin-top: 20px;
  }

  .summaryTitle {
    font-size: 28px;
  }

  .checkoutBtn {
    font-size: 18px;
  }
}