.cartSummaryContainer {
  width: 380px;
  background: #ffffff;
  /* border-radius: 18px; */
  padding: 28px;
  /* box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08); */
  position: sticky;
  top: 95px;
  border: 1px solid #f1ece4;
}


.summaryTitle {
  font-size: 26px;
  font-weight: 600;
  /* letter-spacing: 2px; */
  color: #222;
  /* text-transform: uppercase; */
  margin-bottom: 20px;
}

.summaryTitle::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  margin-top: 8px;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    #1c1c1c 80%,
    #ece6dd 80%
  );
}

.summaryRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  font-size: 15px;
  color: #444;
  border-bottom: 1px dashed #999;
}

.summaryRow:last-of-type {
  border-bottom: none;
}

.discountText {
  color: #2e7d32;
  font-weight: 600;
}


.total {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 2px dashed #999;
  border-bottom: none;
  font-size: 22px;
  font-weight: 700;
  color: #111;
}

.checkoutBtn {
  width: 100%;
  margin-top: 10px;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background: #27652f;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: .3s;
}

.checkoutBtn:hover {
  background: #104620;
  transform: translateY(-2px);
}

.checkoutBtn:disabled {
  background: #d4d4d4;
  cursor: not-allowed;
}


@media (max-width:900px) {
  .cartSummaryContainer {
    width: 100%;
    position: static;
    margin-top: 20px;
  }

  .summaryTitle {
    font-size: 28px;
  }

  .checkoutBtn {
    font-size: 18px;
  }
}