/* Image Overlay */

.upload {
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;

  background: rgba(46, 41, 38, 0.65);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  opacity: 0;
  transition: .3s;
}

.upload:hover .overlay {
  opacity: 1;
}

/* Delete Button */

.delete {
  min-width: 150px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: var(--radius-md);

  background: var(--danger-bg);
  color: var(--danger);

  font-weight: 600;

  transition: .3s;
}

.delete:hover {
  background: var(--danger);
  color: white;
}