.overlay {
  position: absolute;
  inset: 0;
  background: rgba(46, 41, 38, 0.65);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  opacity: 0;
  transition: 0.3s;
}

.upload {
  position: relative;
}

.upload:hover .overlay {
  opacity: 1;
}

.deleteBtn {
  flex: 1;
  height: 48px;
  border-radius: var(--radius-md);
  background: var(--danger-bg);
  color: var(--danger);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: 0.3s;
}

.deleteBtn:hover {
  background: var(--danger);
  color: white;
}

